body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	background-color: #f7e9e9;
}

.greetings {
	text-align: center;
	align-items: center;
	justify-content: center;
	padding-top: 40px;
	color: #706f6f;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: bold;
}

.button-wrapper {
	text-align: center;
}

.name{
	color: #464a4e;
	text-decoration: none;
	font-size: 45px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 10px;
}

.name:hover {
	color: #706f6f;
	cursor: pointer;
}


img{
	width: 14%;
	height: 14%;
	padding-top: 5px;
}

.button-1 {
	background-color: #f7e9e9;
	border-style: none;
	box-sizing: border-box;
	color: #464a4e;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 4px;
	font-weight: 500;
	height: 60px;
	width: 180px;
	line-height: 20px;
	list-style: none;
	margin: 0;
	outline: 100px;
	border: 3px solid black;
	border-color: #464a4e;
	padding: 10px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transform: color 100ms;
	vertical-align: baseline;
	user-select: none;
	margin-right: 10px;
}

.button-1:hover,
.button-1:focus {
	color: #f7e9e9;
	background-color: #464a4e;
}

.button-2 {
	background-color: #f7e9e9;
	border-style: none;
	box-sizing: border-box;
	color: #464a4e;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 4px;
	font-weight: 500;
/*	border-radius: 30px;*/
	height: 60px;
	width: 150px;
	line-height: 20px;
	list-style: none;
	margin: 0;
	outline: 100px;
	border: 3px solid black;
	border-color: #464a4e;
	padding: 10px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transform: color 100ms;
	vertical-align: baseline;
	user-select: none;
	margin-left: 10px;
}

.button-2:hover,
.button-2:focus {
	color: #f7e9e9;
	background-color: #464a4e;
}

.email{
	color: #706f6f;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.email:hover {
	color: #464a4e;
	cursor: pointer;
}



