body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding-top: 200px;
}

h1{
	color: gray;
	font-size: 45px;
	font-weight: 12;
}

h2{
	color: lightgray;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: 5;
}

.email{
	color: gray;
	text-decoration: none;
	font-size: 15px;
}

.email:hover {
	color: lightgray;
	cursor: pointer;
}

.astronaut {
	align-items: center;
	justify-content: center;
}

model-viewer {
  width: 80vw;
  height: 80vh;
}

.interaction-prompt {
  font-size: 150px;
}

.Hotspot {
	background-color: yellow;
	color: black;
	border: none;
	border-radius: 30px;
}