body{

}

h1{
	font-family: "Crimson Text", serif;
	font-weight: bold;
	font-size: 36px;
	color: #464a4e;
}

h2{
	font-family: "Lato", sans-serif;
	font-weight: normal;
	font-size: 22px;
	color: #706f6f;
}
