body{
	display: grid;
	grid-template-columns: auto 0px;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	background: white: ;
	color: black:
}

.container{
	text-align: center;
	align-items: center;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 100px;
}

.drop-main {
    display: flex;
    margin: 0.5rem;
    justify-content: center;
    font-size: 8rem;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 24px;
	font-weight: bold;
}
.d {
    opacity: 0;
    animation: drop 0.5s linear forwards;
    color: #464a4e;
}
.e {
    opacity: 0;
    animation: drop 0.5s linear forwards 0.25s;
    color: #464a4e;
}
.s {
    opacity: 0;
    animation: drop 0.5s linear forwards 0.5s;
    color: #464a4e;
}
.i {
    opacity: 0;
    animation: drop 0.5s linear forwards 0.75s;
    color: #464a4e;
}
.g {
    opacity: 0;
    animation: drop 0.5s linear forwards 1.0s;
    color: #464a4e;
}
.n {
    opacity: 0;
    animation: drop 0.5s linear forwards 1.25s;
    color: #464a4e;
}
@keyframes drop {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    50% {
        transform: translateY(0px);
        opacity: 1;
    }
    65% {
        transform: translateY(-17px);
        opacity: 1;
    }
    75% {
        transform: translateY(-22px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.jumpLinks a{
	color: gray;
	font-size: 20px;
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	font-weight: bolder;
	letter-spacing: 3px;
}

.jumpLinks a:hover{
	color: #464a4e;
}

html{
	scroll-behavior: smooth;
}

h1{
	color: #464a4e;
	font-size: 45px;
	font-weight: 12;
}

h2{
	color: #706f6f;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	font-weight: bold;
	padding-top: 20px;
	letter-spacing: 2px;
}

h3{
	color: #464a4e;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 2;
	letter-spacing: 10px;
	font-weight: bold;
}

h4{
	color: #706f6f;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
}

.projects{
	color: #ababab;
	text-decoration: none;
	font-size: 17px;
	font-family: "Lato", sans-serif;
}

.projects:hover{
	color: #706f6f ;
}

.img_item{
	height: 500px;
	padding-bottom: 15px;
	padding-right: 30px;
}

.img_item2{
	height: 300px;
}

.button-1 {
	background-color: white;
	border-style: none;
	box-sizing: border-box;
	color: #706f6f;
	cursor: pointer;
	display: inline-block;
	font-family: "Raleway", sans-serif;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	line-height: 20px;
	list-style: none;
	margin: 0;
	outline: 100px;
	border: 3px solid black;
	border-color: #706f6f;
	padding: 10px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transform: color 100ms;
	vertical-align: baseline;
	user-select: none;
}

.button-1:hover,
.button-1:focus {
	color: white;
	background-color: #706f6f;
}

.button-2 {
	background-color: white;
	border-style: none;
	box-sizing: border-box;
	color: #706f6f;
	cursor: pointer;
	display: inline-block;
	font-family: "Raleway", sans-serif;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	line-height: 20px;
	list-style: none;
	margin: 0;
	outline: 100px;
	border: 3px solid black;
	border-color: #706f6f;
	padding: 10px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transform: color 100ms;
	vertical-align: baseline;
	user-select: none;
}

.button-2:hover,
.button-2:focus {
	color: white;
	background-color: #706f6f;
}

.button-3 {
	background-color: white;
	border-style: none;
	box-sizing: border-box;
	color: #706f6f;
	cursor: pointer;
	display: inline-block;
	font-family: "Raleway", sans-serif;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	line-height: 20px;
	list-style: none;
	margin: 0;
	outline: 100px;
	border: 3px solid black;
	border-color: #706f6f;
	padding: 10px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transform: color 100ms;
	vertical-align: baseline;
	user-select: none;
}

.button-3:hover,
.button-3:focus {
	color: white;
	background-color: #706f6f;
}

.button-4 {
	background-color: white;
	border-style: none;
	box-sizing: border-box;
	color: #706f6f;
	cursor: pointer;
	display: inline-block;
	font-family: "Raleway", sans-serif;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	line-height: 20px;
	list-style: none;
	margin: 0;
	outline: 100px;
	border: 3px solid black;
	border-color: #706f6f;
	padding: 10px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transform: color 100ms;
	vertical-align: baseline;
	user-select: none;
}

.button-4:hover,
.button-4:focus {
	color: white;
	background-color: #706f6f;
}

.bounce {
    font-size: 3rem;
    width: 100%;
    margin: 2rem auto;
    display: inline-flex;
    justify-content: center;
    -webkit-box-reflect: below -20px linear-gradient(transparent, #211e1e2e);
}
.bounce span:hover {
    display: inline-flex;
    color: lightgray;
    font-family: "Raleway", sans-serif;
    animation: bounce 5s infinite;
}
@keyframes bounce:hover {
    0%,
    10%,
    20% {
        transform: translateY(0);
    }
    5% {
        transform: translateY(-20px);
    }
}
.bounce span:nth-of-type(1) {
    animation-delay: 0.1s;
}
.bounce span:nth-of-type(2) {
    animation-delay: 0.2s;
}
.bounce span:nth-of-type(3) {
    animation-delay: 0.3s;
}
.bounce span:nth-of-type(4) {
    animation-delay: 0.4s;
}
.bounce span:nth-of-type(5) {
    animation-delay: 0.5s;
}
.bounce span:nth-of-type(6) {
    animation-delay: 0.6s;
}
.bounce span:nth-of-type(7) {
    animation-delay: 0.7s;
}
.bounce span:nth-of-type(8) {
    animation-delay: 0.8s;
}
.bounce span:nth-of-type(9) {
    animation-delay: 0.9s;
}
.bounce span:nth-of-type(10) {
    animation-delay: 1.0s;
}
.bounce span:nth-of-type(11) {
    animation-delay: 1.1s;
}
.bounce span:nth-of-type(12) {
    animation-delay: 1.2s;
}
.bounce span:nth-of-type(13) {
    animation-delay: 1.3s;
}
.bounce span:nth-of-type(14) {
    animation-delay: 1.4s;
}

.websites {
	height: 400px;
	padding-bottom: 10px;
}

.astronaut {
	align-items: center;
	justify-content: center;
}

model-viewer {
  width: 85vw;
  height: 70vh;
}

.interaction-prompt {
  font-size: 150px;
}

.Hotspot {
	background-color: white;
	color: black;
	border: none;
	border-radius: 30px;
}

.top {
	place-self: end;
	position: sticky;
	float: right;
  bottom: 20px;
  margin-top:150vh;

  text-decoration: none;
  padding: 10px;
  font-family: sans-serif;
  color: white;
  background: #706f6f;
  border-radius: 100px;
  height: 30px;
  width: 30px;
  font-size: 25px;
}

.top:hover{
	background: white;
	color: #706f6f;
}
