.row {
  display: flex;
  justify-content: center;
}

.column {
  flex: 50%;
  justify-content: center;
}

body {
  background-color: lightgrey;
  margin: 0;
  padding: 15px;
}

#my_dataviz{
	color: black;
	font-size: 20px;
  display: flex;
  justify-content: center;
}

.tooltip{
	position: absolute;
	width: 285px;
}

h1{
	color: black;
/*  font-family: monospace;*/
	font-size: 35px;
  text-align: center;
  line-height: 50px;
  margin-left: 10px;
}

h2{
  color: black;
  font-size: 30;
  text-align: center;
  text-decoration: underline;
}

h3{
  color: black;
  font-size: 20px;
  font-weight: 3;
  text-align: center;
}

/*h4{
  font-size: 12px;
  font-weight: 2;
  text-align: center;
}

#bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}*/

.value1 {
  display: none;
}

.legend1:hover h3.key1 {
  display: none;
}

.legend1:hover h3.value1 {
  display: block;
  color: white;
  cursor: pointer;
}

.value2 {
  display: none;
}

.legend2:hover h3.key2 {
  display: none;
}

.legend2:hover h3.value2 {
  display: block;
  color: white;
  cursor: pointer;
}

/*.node:hover{
  cursor: pointer;
  stroke: white;
  stroke-width: 5px;
}*/


button{ 
  background-color: black;
  color: white;
  border-radius: 50px;
  max-width: 275px;
  max-height: 200px;
  text-align: center;
  font-size: 15px;
  font-weight: 10;
  padding: 20px;
  margin-bottom: 20px;
}

#one{
  margin-left: 185px;
}

#two{
  margin-left: 175px;
  padding: 26px;
}

#three{
  margin-left: 170px;
}

#four{
  margin-left: 185px;
}


button:hover{
	cursor: pointer;
  background-color: darkgrey;
  color: black;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  border-color: white;
}

button:focus{
  background-color: darkgrey;
  border-width: 5px;
  border-style: solid;
  border-color: white;
  color: black;
  font-weight: bold;
}